# Environnements virtuels
venv/
.venv/
env/
.env/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Données et Checkpoints
datasets/
data/
checkpoints/
*.pt
*.pth
*.npy

# Logs et Slurm
logs/
logslurms/
*.log
wandb/

# Fichiers de configuration générés temporairement
configs.yml
*config.yml
job_id/
job.sbatch

# IDEs et OS
.vscode/
.idea/
*.swp
.DS_Store

# Pytest
.pytest_cache/

# Résultats générés (Méthodes classiques, ML, etc.)
calibration_results/
test_results/
ml_results/
data_calibration/
Unet_results/
*.png